h1 {
text-align: center;
text-transform: initial;
font-style: oblique;
color: brown;
animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
 
section{
  size: auto;
  padding:70px;
  background-color: rgb(214, 243, 163);
  box-sizing: content-box;
}

.1{

}

ul{
  text-align: center;
  font-size: larger;
  font-weight: 300;
  font-style: bold;
  -webkit-animation: backwards;
  color:rgb(235, 27, 27);
  

}

li{
  -webkit-text-fill-color: brown;
  text-align: left;
}